version: '3.8'

services:
  meta_etl_worker:
    image: covillabs/etl-meta-ads:v9
    # O comando 'tty: true' ajuda a manter o container vivo em alguns ambientes
    tty: true
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 10s
      resources:
        limits:
          memory: 512M # Mantendo o limite da Vetorial
        reservations:
          memory: 256M
        
    environment:
      - PYTHONUNBUFFERED=1
      - DB_HOST=${DB_HOST:-patroni-primary}
      - DB_PORT=${DB_PORT:-5432}
      - DB_NAME=${DB_NAME:-relatorio_meta_ads}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - META_ACCESS_TOKEN=${META_ACCESS_TOKEN}
      - AD_ACCOUNTS=${AD_ACCOUNTS}
      
    networks:
      - network_public

networks:
  network_public:
    external: true